# Extract Reddit Posts

## Import Libraries

In [39]:
import requests
import pandas as pd
from datetime import datetime
from time import sleep
import numpy as np

## Extract Reddit Posts with Pushshift API

A function to extract posts with 2 inputs, name of the subreddit and nummber of posts.

In [40]:
def red_posts(subreddit, num_posts):
    url = 'https://api.pushshift.io/reddit/search/submission'
    time = datetime.now().strftime('%s')
    posts = pd.DataFrame()
    
    for _ in range(num_posts):
        params = {
        'subreddit' : subreddit,
        'size' : 100,
        'before': time
        }

        sleep(0.5)
        
        res = requests.get(url, params)

        print(res.status_code)

        data = res.json()
        
        posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)
        
        time = posts['created_utc'].iloc[-1]
        
    print('Done')
    return posts

Load the posts into variable `df`

In [65]:
df = red_posts('XboxSeriesX', 20)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

200
Done

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/3000572554.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = posts.append(pd.DataFrame(data['data']), ignore_index=True)

## EDA and Cleaning

In [66]:
df[['subreddit', 'selftext', 'title']]

,subreddit,selftext,title
0,XboxSeriesX,,Game Director Adam Brennecke shares special me...
1,XboxSeriesX,,Guild Wars Developer Is Working On Unannounced...
2,XboxSeriesX,,The reproduction of reality in Tank Mark V in ...
3,XboxSeriesX,You can change accounts info,Selling xbox gamepass ultimate accounts 1 year...
4,XboxSeriesX,I have just bought a xbox series s with gamepa...,What games do in need to play
...,...,...,...
1995,XboxSeriesX,So my partner has bought me a Series X for my ...,My Series X is here 1 week before my birthday
1996,XboxSeriesX,I bought this new console and playing Halo dur...,Is the fact that the series x Is warm enough t...
1997,XboxSeriesX,Hello sorry for my English I use google transl...,samsung tv setting
1998,XboxSeriesX,Does anyone have a recommended video guide of ...,video recommendation
1999,XboxSeriesX,I haven't played any games made past 2015 howe...,Recommended games to play on xbox for someone ...

Tag removed posts or empty posts with `NaN`

In [67]:
df.replace(r'[removed]', np.NaN, inplace=True)

In [68]:
df.replace(r'', np.NaN, inplace=True)

Keep 3 columns `subreddit`, `selftext`, `title`, and drop rest of the columns

In [69]:
df = df[['subreddit', 'selftext', 'title']]
df['selftext'].notnull().sum()

1133

In [59]:
ps5

,subreddit,selftext,title
0,PS5,NaN,"Frogwares: Sherlock Holmes The Awakened, a ful..."
1,PS5,NaN,Kao the Kangaroo - Summer Drip Free DLC
2,PS5,NaN,can't decide which game to get in the sale?
3,PS5,NaN,New beta software!
4,PS5,NaN,Beta PS5 software update supports 1440p HDMI v...
...,...,...,...
5489,PS5,Bought game at launch Physical and returned it...,Anyone know if Fallout 76 on PS Plus Extra is ...
5490,PS5,NaN,how do I mute my mic for specific games.
5491,PS5,What games [new] or older have you been playin...,Games you're interested in
5492,PS5,If i buy ps plus now will i have to pay full p...,If i buy ps plus now will i have to pay full p...
5493,PS5,NaN,If i buy ps plus now will i have to pay full p...

In [70]:
xboxseriesx = df

In [71]:
xboxseriesx

,subreddit,selftext,title
0,XboxSeriesX,NaN,Game Director Adam Brennecke shares special me...
1,XboxSeriesX,NaN,Guild Wars Developer Is Working On Unannounced...
2,XboxSeriesX,NaN,The reproduction of reality in Tank Mark V in ...
3,XboxSeriesX,You can change accounts info,Selling xbox gamepass ultimate accounts 1 year...
4,XboxSeriesX,I have just bought a xbox series s with gamepa...,What games do in need to play
...,...,...,...
1995,XboxSeriesX,So my partner has bought me a Series X for my ...,My Series X is here 1 week before my birthday
1996,XboxSeriesX,I bought this new console and playing Halo dur...,Is the fact that the series x Is warm enough t...
1997,XboxSeriesX,Hello sorry for my English I use google transl...,samsung tv setting
1998,XboxSeriesX,Does anyone have a recommended video guide of ...,video recommendation
1999,XboxSeriesX,I haven't played any games made past 2015 howe...,Recommended games to play on xbox for someone ...

Join `XboxSeriesX` and `PS5` into single dataframe

In [73]:
posts = ps5.append(xboxseriesx, ignore_index=True)

/var/folders/n2/2x1h8gm12hg272zzsml3ns500000gn/T/ipykernel_33828/1736206152.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  posts = ps5.append(xboxseriesx, ignore_index=True)

In [74]:
posts

,subreddit,selftext,title
0,PS5,NaN,"Frogwares: Sherlock Holmes The Awakened, a ful..."
1,PS5,NaN,Kao the Kangaroo - Summer Drip Free DLC
2,PS5,NaN,can't decide which game to get in the sale?
3,PS5,NaN,New beta software!
4,PS5,NaN,Beta PS5 software update supports 1440p HDMI v...
...,...,...,...
7489,XboxSeriesX,So my partner has bought me a Series X for my ...,My Series X is here 1 week before my birthday
7490,XboxSeriesX,I bought this new console and playing Halo dur...,Is the fact that the series x Is warm enough t...
7491,XboxSeriesX,Hello sorry for my English I use google transl...,samsung tv setting
7492,XboxSeriesX,Does anyone have a recommended video guide of ...,video recommendation
7493,XboxSeriesX,I haven't played any games made past 2015 howe...,Recommended games to play on xbox for someone ...

Export the combined dataframe to a csv file

In [75]:
posts.to_csv('data/posts_2.csv', index=False)